/* CSS Selectors:
- HTML elements (div, nav, etc.)
- HTML class attributes: .class-name (.btn)
- HTML ID, unique: #id (#searchButton)

!important means forced coloring 

CSS attributes & values: [attribute="value"] 
* = all, div[class*="test"]
~ = specific word, [title~="flower"]
^ = whose value starts with the specified value, [class^="top"]
Read more here: https://www.w3schools.com/css/css_attribute_selectors.asp */


/* DARK BACKGROUND COLORING */
h1, h2, table, body, th, nav, tbody, ul, input, abbr, caption, tr, p, dl, label, header, fieldset, legend, main, li[id*="ca"], a[href*="/wiki/"], a[href*="/w/"], a[accesskey], 
li.mw-tag-AWB, li[class*="mw-tag-mw"], li[class*="iw-resultset"], li[class*="selected"], kbd, a[href*="/w/index.php?title=Wikipedia_Diskussion:Hauptseite&action=edit"], a[href*="/wiki/Wikipedia_Diskussion:Hauptseite"],
span:is([style*="background:#FFEC8B;"], [style*="background-color: #DDDDFF"]), button[id*="display-panel-trigger"], div[class*="mw-echo-ui-notificationsInboxWidget-toolbarWrapper"],

/* Avoid using element "div" only */
div[id*="m"], div[class*="toc"], div.mw-body, div.navbox, div.catlinks, div.thumbcaption, div.thumbinner, div.metadata.plainlinks.sistersitebox.plainlist.sister-box.mbox-small,
div.portal-bar, div.suggestions-result, div.special-label, div.special-query, div.suggestions-special, div.editOptions, div[id*="wikiEditor-ui-toolbar"], div.sidebar-list-title,
div.oo-ui-popupWidget-head, div.oo-ui-widget.oo-ui-widget-enabled.mw-echo-ui-placeholderItemWidget.oo-ui-labelElement, div[class^="mwe"], div[class^="noprint"], span[style^="display"],
div[style*="clear"], div.NavHead, div.plainlinks, div[style*="lavender"], div.mw-mmv-above-fold, div.mw-mmv-image-metadata, div.thumb, div[id*="ooui-php-"], div.mw-prefs-buttons,
div[style*="background-color: #D9E6F3"], div[style*="background-color: #FAFAFF"], div[style*="background-color: #FFF"], div[class*="hauptseite"], div[style*="display"],
div[class*="main-top"], div[class*="mw-page-container"], div[id="accueil_2017_bandeau"], div[class*="infobox"], div[class*="bandeau"], div[id^="edit"], div#deltagande, div.warningbox,
div[class*="oo-ui-layout"], div[class*="oo-ui-widget"], div[id*="search"], div[class*="row"], div[class*="mw-widget"], div[class^="module"], div[class*="hatnote"], div[class*="spoken"],
div[style*="font-size"], div[class*="boilerplate"], div[class*="talkheader"], div[id*="rt-cite_ref"], div[class*="footer-sidebar-text"], div[class*="lang-list-container"],
div[id*="FAQ"], div[style*="padding-left"], div[class*="hlist"], div[style*="display"], a[class*="oo-ui-widget"], div[id="sisterproject"], a.oo-ui-buttonElement-button, div[class*="quotebox"],
div.mw-kartographer-attribution, div[class*="side-box"], div[style*="background:#DFE0E3"], div[class*="oo-ui-tagMultiselectWidget-handle"], div[class*="mw-changeslist-legend"],
div[class*="responsive-license"],

/* Avoid using element "td" only since it will override colors in some tables */
td:is([bgcolor*="dddddd"], [bgcolor*="light"], [bgcolor*="yellow"], [bgcolor*="skyblue"]),
td[class*="navbox"],
td:is(.diff-context, .infobox-subheader, .infobox-below, .MainPageBG, .navbox-group, .navbox-abovebelow, .plainlist, .sidebar-above, .sidebar-below, .sidebar-navbar), 
td[style*="text-align"], td[style="background:#D4F7D4"], td[style*="background-color:#CCDEFF"],
td.sidebar-content, td.sidebar-pretitle, td[style="background:#F6E4E7"], td[style="background:#E6E6B7"], td[style*="background:#efefef"], td:is([style*="background:#F0F0F0"]),
td[style^="background:lavender"], td[style*="background-color:#DCDCDC"], td[style*="border-top"], td[style*="background: #ffbb"], td[style*="background-color: #9fe"], td[id*="fileinfotpl"], 
td:is([style*="background-color: #ffc"], [style*="background-color: #fb9"], [style*="background-color: #bfc"], [style*="background-color: #fcc"]),

th[colspan] > span, 

/*https://en.wikipedia.org/wiki/Kaliningrad_Oblast*/
tr > td:is([colspan*="5"], [colspan*="4"], [colspan*="3"], [colspan*="2"], [rowspan*="3"], [rowspan*="2"]), tr[class] > td,

span[class*="flaggedrevs-"] {
  background-color: #0d1117 !important;
}

/* LIGHT GREY TEXT COLORING */
h1, h2, h3, h4, p, th, td, li, input, b, i, caption, .oo-ui-labelWidget, samp, span, textarea, div.mw-summary-preview, fieldset, div, td[style] > span.IPA,
div.noprint, div.thumbcaption, div.mw-parser-output, div[class*="hatnote"], div.metadata.plainlinks.sistersitebox.plainlist.sister-box.mbox-small, div.mw-widget-calendarWidget-item,
div.suggestions-result, div.special-label, div.suggestions-special, div.special-query, div[id*="mp"], div.mw-echo-ui-notificationItemWidget-content-message-header, 
td[class] > span[style*="white-space"] {
  color: #c9d1d9 !important;
}

/* DARK TEXT COLORING ON TABLES */
td[class*="charts-nxa"] > span, td[class*="charts"],

td[style*="background:#EEEEEE"], td[style*="background:#FED105"], td[style*="background:#A356DE"], td[style*="background:#17aa5c"],
td:is([style*="background:#FFCDCC"], [style*="background:#CCDCFF"]) > b, td[style*="background:#ffb6b6"], td[style*="background:#f0f0ff"], td[style*="background:#b0ceff"], 
td[style*="background:#fff3f3"], td.included, td[style*="background:pink"],
td[style*="background:lightgreen"], td[style*="background:paleturquoise"], td[style*="background:turquoise"], td[style*="background:yellow"], td[style*="background:white"],
td[style*="background:#9cc"], td[style*="background:#ff"]>b, td[style*="background:#ff"], td[style*="background:#c"], 
td[style*="background:#FEDF09"], td[style*="background:#019CDB"], td[style*="background:#ED1B34"],
td[style*="background:salmon"], td[style*="background: #FF1800"], td[style*="background: #FF1700"], td[style*="background:#6bd2df"] > b, td[style*="background:#c3eded"] > b,
td[style*="background:#f9f8bb"] > b, td[style*="background:#fad45d"] > b, td[style*="background:#dfefef"], td[bgcolor*="white"],

td[style*="background-color: #FDB3AB"], td[style*="background-color: #FEF8C6"], td[style*="background-color: #D4F4B4"]>b, td[style*="background-color: #FED1A0"],
td[style*="background-color:#FFB6B6"], td[style*="background-color:#FFB6B6"]>b, td[style*="background-color:#B0CEFF"], td[style*="background-color:#B0CEFF"]>b,
td[style*="background-color:#DDDDDD"], td[style*="color:#000000"],

td[bgcolor*="#f9f8bb"], td[bgcolor*="#c3eded"], td[bgcolor*="#fad45d"], td[bgcolor="#f9f8bb"] > b, td[bgcolor="#fad45d"] > b,
td[bgcolor="#da820f"] > span, td[bgcolor="#c3eded"] > b, td[bgcolor="FFD700"], td[bgcolor="silver"], td[bgcolor="gold"], td[bgcolor="cc9966"], td[bgcolor*="#6bd2df"] > b,

/*https://en.wikipedia.org/wiki/Mineral_(nutrient)*/
td[style] > span,

span[class*="charts-n"]
 {
   color: #0d1117 !important;
 }

/* LIGHTER DARK BLUE BACKGROUND COLORING */
.mp-h2, th.headerSort, th.unsortable, span[style*="width:7.5em"], td[style*="background-color: #F2F2F2"], div[style*="padding-left"], textarea, span.mw-tmh-play-icon,
span.mw-ui-button, td[style*="text-align:center;background:#f0f0f0"], td[style*="background-color:#f0f0ff"], td[style*="background:#f1f1f1"], td[style*="vertical-align:top; background:#f2f2f4"],
th.infobox-above, th.summary, div[id*="ooui-php-498"], td[style*="background:#f0f0f0"], div.quotebox-title, td[style*="background:#dddddd"], td[style*="background:lightgrey"], 
td[style*="background:silver"],
/*Buttons*/
a[class*="mw-ui-button"] {
  background-color: #21262d !important;
}

/* LIGHT BLUE (CLICKABLE TEXT) */
a, .tocnumber, .toctext, label.toctogglelabel, span.toctext i {
  color: #58a6ff !important;
}

/* LIGHT GREY BACKGROUND FOR GRAPHS */
canvas {
  background-color: #c9d1d9 !important;
}

/* LATEX LIGHT GREY */
pre, code, .hll, tr::before {
  background-color: #21262d !important;
  color: #c9d1d9 !important;
}

/* https://en.wikipedia.org/wiki/Ivan_Reitman#Recurring_cast_members */
img.mwe-math-fallback-image-inline, img.mwe-math-fallback-image-display, .helpContents-icon,
img[src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Black_x.svg/16px-Black_x.svg.png"], a[href*="/wiki/Special:Preferences#mw-prefsection-rendering"],
img[src*="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/12px-Loudspeaker.svg.png"] {
    filter: invert(90%) !important;
}

/* DARK GREY BACKGROUND - ICONS & BUTTONS VISIBLE */
.mw-helplink, .oo-ui-indicator-down, .oo-ui-iconWidget, .infobox-above.summary, a.oo-ui-icon-bell, a.oo-ui-icon-tray,
span[class*="oo-ui-dropdownWidget-handle"], div.oo-ui-popupWidget-head, a.oo-ui-buttonElement-button {
  background-color: #21262d !important;
}

/*TODO: fix bell icons add here brighter*/
#searchButton {
  background-color:#b2b4b6 !important;
}

/* PROGRESS BARS COLORING (TABLES) */
div[role="img"] {
  background-color: #21262d !important;
}

/* RED & GREEN COLORS (SUBTRACT AND ADD ICON) */
span[class*="icon-subtract"] {
  background-color: #e75d53 !important;
}
span[class*="icon-add"] {
  background-color: #46a559 !important;
}

/* CODE SYNTAX TEXT COLORS */
a.new, 
td.table-no, td[style*="background:#F6E4E7"],
span:is(.kd, .kn) {
  color: #FF7B72 !important;
}
td.table-yes, td[style*="background:#D4F7D4"] {
  color: #46a559 !important;
}
span:is(.na, .k, .nb, .kr, .vg) {
  color: #FFA657 !important;
}
td:is(.table-na, .no.table-no2),
span.linenos {
  background-color: #0d1117 !important;
}
span:is(.nc, .nf, .kt) {
  color: #D2A6D7 !important;
}
span[class^="s"], span:is(.nn, .c, .nv) {
  color: #A5D6FF !important;
}
td.table-partial, 
span:is(.c1, .cm, .o, .mi, .mf, .fm) {
  color: #b2b4b6 !important;
}

a.mw-wiki-logo {
  content: url("https://raw.githubusercontent.com/hirschan/Dark-Mode-Wikipedia/master/dark_wiki_icon_large.png");
}
