/* 
This file is used for initially rendering CSS styles, when web page is loading and DOM has not been rendered yet. 
Prevents default coloring to load in for a split second which causes bad UX.

CSS Selectors:
- Elements (div, nav, etc.)
- Class attributes: .class-name (.btn)
- IDs, unique: #id (#searchButton)

!important means forced coloring

CSS attributes & values: [attribute="value"]
* = all, div[class*="test"]
~ = specific word, [title~="flower"]
^ = whose value starts with the specified value, [class^="top"]
Read more here: https://www.w3schools.com/css/css_attribute_selectors.asp
*/


/* Set dark background except certain selectors */
*:not(tr, td, div[style*="background-color"], div > div > span, td > div > span, div, a) { /* TODO: remove video bug: https://en.wikipedia.org/wiki/Wikipedia#Language_editions*/
  background-color: #0d1117 !important;
}

/*div[class*="mw"] and div causes black bug*/
div[class*="mw-page-container"], div[class*="vector-header-container"], div[id*="vector-main-menu"], div[id*="vector-toc"], div[id*="mp"], div[class*="side"], div[class*="thumb"],
div[class*="row"], div[class*="mwe"], div[id*="mw-watchlink"],
/*Talk page EN:*/ div[id*="talk"], div[id*="centralized"], div[class*="module"], div[id*="main"], td[class*="mp"], div[id*="catlinks"],
/*View history page EN:*/ div[class*="oo-ui"], div[class*="mw-widget"],
/*Edit source page EN:*/ div[class*="wiki"], div[class*="edit"], div[class*="ext"],
/*Preferences page EN:*/ div[class*="mw-html"], span[class*="oo-ui"],
/*Notifications page EN:*/ div[class*="mw-echo"],
tbody > tr > td, /* https://en.wikipedia.org/wiki/Nordic_Defence_Cooperation#Limitations */
div:root
{
  background-color: #0d1117 !important;
}

/* Lighter dark background */
tr::before {
  background-color: #21262d !important;
}

/* White text*/
div > button /*Search button clicked*/, input /*Text input in search field*/, 
/*View history page EN:*/ div[id*="oo"], div[class*="oo"], div[class*="mw-widget"], div[class*="mw-echo"], span {
  color: #c9d1d9 !important;
}

/* Hyperlinks */
a, a > span {
  color: #58a6ff !important;
}



/* MISCELLANEOUS */

/* Remove white gradient color */
div#vector-toc.vector-toc.vector-pinnable-element::after, div#vector-page-tools.vector-page-tools.vector-pinnable-element::after {
  background: none !important;
}

/* Force white line on top */
.vector-page-toolbar {
  border-top: 1px solid white;
}