body, div, nav, table, tbody, li, ul, input, td, abbr, th, a, caption, i {
  background-color: #0d1117 !important; /*Dark blue coloring*/
}

h1, h2, h3, h4, p, th, td, div, li, input, span, i, caption, .oo-ui-labelWidget {
  color: #ffffff !important; /*White coloring*/
}

a, .tocnumber, .toctext {
  color: #58a6ff !important; /*Light blue coloring, for clickable text*/
}

.mp-h2 {
  background-color: #21262d !important; /*Lighter dark blue coloring, for headlines on home page*/
}

pre, code, .hll, tr::before {
  background-color: #5B6472 !important; /*Light grey coloring, mostly used for LateX wiki site & tables*/
  border-color: #5B6472 !important; /*Light grey coloring, mostly used for LateX wiki site & tables*/
  color: #ffffff !important; /*White coloring*/
}

img.mwe-math-fallback-image-inline, .helpContents-icon img {
    filter: invert(90%) !important;
}

[class^="oo-ui-icon"], .oo-ui-icon-tray, .oo-ui-icon-bell, #searchButton, .mw-helplink, .oo-ui-indicator-down, .oo-ui-iconWidget, .infobox-above.summary {
  background-color: #6e7681 !important; /*Dark grey coloring, for making icons visible*/
}

/*CSS Selectors:
- HTML elements, e.g: div, nav
- HTML class attributes, syntax: .class-name (.btn)
- HTML ID, syntax (supposed to be unique): #id (#searchButton)
 */
